.sub-kpi{
    background-color: lightgray;
    padding:5px;
}
.kpi{
    padding:5px;
}
.red{
    color:red;
}
.green{
    color:green;
}
.amber{
    color:#ffbf00;
}
.tint{
    background-color:#f7f7f7;
}
#loader{
position:absolute;
left:50%;
top:50%;
z-index:1;
width:150px;
height:150px;
margin: -75px 0 0 -75 px;
border: 16px solid #f3f3f3;
border-radius:50%;
border-top:16px solid #3498db;
width:120px;
height:120px;
animation: spin 2s linear infinite;
}

@keyframes spin{
0% { transform:rotate(0deg); }
100% { transform:rotate(360deg); }	
}

@font-face {
    font-family: 'cisco-sans';
    src: url("/static/fonts/CiscoSans/CiscoSansTTLight.ttf"); 
}

.navbar-brand{
  color:#009EDC;
}
.cisco{
  font-family: 'cisco-sans';
  color:#009EDC;
}
